[tool.poetry]
name = "spacy-partial-tagger"
version = "0.8.0"
description = "Sequence Tagger for Partially Annotated Dataset in spaCy"
authors = ["yasufumi <yasufumi.taniguchi@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/tech-sketch/spacy-partial-tagger"
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9"
]

[tool.poetry.dependencies]
python = "^3.8"
spacy = {version = "3.2.4", extras = ["ja", "transformers"]}
thinc = "^8.0.15"
transformers = {version = "4.17", extras = ["ja"]}
torch = "^1.11.0"
allennlp = "^2.9.2"
pytokenizations = "^0.8.4"
pyknp = "^0.6.1"
conllu = "^4.4.2"
mojimoji = "^0.0.12"
fugashi = {extras = ["unidic-lite"], version = "^1.1.2"}
unidic-lite = "^1.0.8"
colorlog = "^6.6.0"
partial-tagger = "^0.6.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
pytest = "^7.1.1"
isort = "^5.10.1"
flake8 = "^4.0.1"
mypy = "^0.942"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins.spacy_factories]
partial_ner = "spacy_partial_tagger.pipeline:make_partial_ner"

[tool.poetry.plugins.spacy_tokenizers]
"character_tokenizer.v1" = "spacy_partial_tagger.tokenizer:create_character_tokenizer"

[tool.poetry.plugins.spacy_architectures]
"spacy-partial-tagger.PartialTagger.v1" = "spacy_partial_tagger.tagger:build_partial_tagger_v1"
"spacy-partial-tagger.MisalignedTok2VecTransformer.v1" = "spacy_partial_tagger.layers.tok2vec_transformer:build_misaligned_tok2vec_transformer"
"spacy-partial-tagger.Tok2VecWrapper.v1" = "spacy_partial_tagger.layers.tok2vec_wrapper:build_tok2vec_wrapper"
"spacy-partial-tagger.LinearCRFEncoder.v1" = "spacy_partial_tagger.layers.encoder:build_linear_crf_encoder_v1"
"spacy-partial-tagger.ConstrainedViterbiDecoder.v1" = "spacy_partial_tagger.layers.decoder:build_constrained_viterbi_decoder_v1"

[tool.poetry.plugins.spacy_label_indexers]
"spacy-partial-tagger.TransformerLabelIndexer.v1" = "spacy_partial_tagger.label_indexers:configure_transformer_label_indexer"

[tool.poetry.plugins.thinc_losses]
"spacy-partial-tagger.ExpectedEntityRatioLoss.v1" = "spacy_partial_tagger.loss:configure_ExpectedEntityRatioLoss"

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
show_error_codes = true

[tool.isort]
profile = "black"
include_trailing_comma = true
multi_line_output = 3

[tool.black]
exclude = '''
/(
    .eggs
  | .git
  | .hg
  | .pytest_cache
  | .mypy_cache
  | .tox
  | .venv
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
testpaths = [
    "tests",
]
addopts = "--strict-markers -m 'not local'"
markers = [
    "local"
]
